html,body,h1,div,p,section,header{
    /* margin:0; */
    /* padding:0; */
}
header{
    background: pink;
    text-align: center
}
footer{
    text-align: center;
    padding:20px;
    margin:10px 0 0;
}
h1{
    background: url(visitor0.png) no-repeat;
    padding:15px 0 15px 60px;
}
footer{
    background: url('https://vs.rainbowred.com/res/imgs/staff.png') center center no-repeat gray;
}